span {
    position: fixed;
    font-size: 10px;
}

/* client info */
.cliente {
    top: 20px;
    left: 95px;
}

.rtn-cliente {
    top: 68px;
    left: 135px;
}

.phone {
    top: 30px;
    left: 594px;
}

.contacto {
   top: 61px;
   left: 603px;
}

.e-mail {
    top: 90px;
    left: 580px;
}

/* table */
.cell {
    display: fixed;
    font-size: 10px;
    padding: 5px;
    text-align: center;
}

/* first part */
.vendedor {
    width: 189px;
    height: 35px;
    top: 170px;
    left: 14px;
}

.or-compra {
    width: 96px;
    height: 35px;
    top: 170px;
    left: 203px;
}

.enviar-via {
    width: 118px;
    height: 35px;
    top: 170px;
    left: 299px;
}

.fecha-envio {
    width: 162px;
    height: 35px;
    top: 170px;
    left: 417px;
}

.terminos {
    width: 148px;
    height: 35px;
    top: 170px;
    left: 579px;
}

.fecha {
    width: 94px;
    height: 35px;
    top: 170px;
    left: 727px;
}

.pag {
    width: 46px;
    height: 35px;
    top: 170px;
    left: 821px;
}

/* second part */
.articles {
    width: 856px;
    position: fixed;
    top: 237px;
    left: 16px;
    text-align: left;
    padding: 3px;
    border: none;
}

.articles tr {
    display: inline-block !important;
    height: 25px;
}

.articles td {
    word-wrap: break-word;
}

.articles span {
    display: inline-block !important;
}

.ctd {
    width: 88px;
}

.codigo {
    width: 103px;
}

.descripcion {
    width: 230px;
}

.precio {
    width: 130px;
}

.unidad {
    width: 66px;
}

.rebajas {
    width: 66px;
}

.total {
    width: 107px;
}

.isv {
    width: 58px;
}

#subtotal {
    display: fixed;
    width: 110px;
    top: 620px;
    left: 665px;
}

/* pie de tabla */
#exonerado {
    display: fixed;
    width: 165px;
    height: 35px;
    top: 645px;
    left: 595px;
}

#exento {
    display: fixed;
    width: 165px;
    height: 35px;
    top: 680px;
    left: 630px;
}

#gravado {
    display: fixed;
    width: 165px;
    height: 35px;
    top: 715px;
    left: 630px;
}

#isv15 {
    display: fixed;
    width: 165px;
    height: 35px;
    top: 750px;
    left: 595px;
}

#total-pagar {
    display: fixed;
    width: 165px;
    height: 35px;
    top: 785px;
    left: 595px;
}

#total-letra {
    display: fixed;
    width: 400px;
    height: 35px;
    top: 815px;
    left: 180px;
}

/* final */
.end {
    display: fixed;
    top: 860px;
    left: 390px;
}
/* .fin-exenta {
    width: 200px;
    top: 970px;
    left: 390px;
}

.fin-exonerado {
    width: 200px;
    top: 1005px;
    left: 390px;
}

.fin-sag {
    width: 200px;
    top: 1040px;
    left: 390px;
} */

/* otros */
.txt-right {
    text-align: right !important;
}

.txt-left {
    text-align: left !important;
}
